$main-background-color: #c4c4c4;

.park-list-wrapper {
    margin-left: 25px;
    margin-right: 24px;
    margin-top: 16px;

    .header {
        .title {
            font-size: 36px;
        }
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .container {
        ::placeholder {
            color: #000000;
            opacity: 1; /* Firefox */
        }
        .input-search {
            width: 100%;
            background-color: $main-background-color;
        }

        .card-columns {
            column-count: 2;
            @media (min-width: 500px) {
                column-count: 3;
            }
            @media (min-width: 768px) {
                column-count: 4;
            }
        }

        .card-columns {
            margin-top: 19px;
        }

        .card {
            position: relative;
            width: 147px;
            height: 109px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                background-color: #dddddd;
            }

            .header {
                display: flex;
                margin-top: 10px;

                .title {
                    flex: 1 1 auto;
                    margin-left: 8px;
                    font-size: 16px;
                }
                .remark {
                    flex: 0.2 1 auto;
                    font-size: 12px;
                }
            }

            .desc {
                font-size: 12px;
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        .no-highlight {
            background-color: $main-background-color;
        }

        .highlight {
            background-color: yellow;
        }
    }

    .footer {
        font-size: 24px;
        .tab {
            padding-left: 1em;
        }
        .start-page,
        .end-page,
        .prev-page,
        .next-page {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: blue;
            }
        }
    }
}
